In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_excel('data.xlsx')

In [31]:
df

      v        c0        c1        c2        c3
0     1  0.882497  0.112549  0.004954  0.122458
1     1  0.778800  0.202702  0.018498  0.239698
2     1  0.687290  0.273834  0.038876  0.351587
3     1  0.606523  0.328894  0.064583  0.458060
4     1  0.535250  0.370369  0.094381  0.559131
..   ..       ...       ...       ...       ...
225  23  0.377622  0.169341  0.414096  0.208281
226  23  0.357377  0.131807  0.417054  0.225570
227  23  0.342363  0.103226  0.418500  0.239137
228  23  0.331123  0.081315  0.419070  0.249808
229  23  0.322459  0.064227  0.419310  0.258232

[230 rows x 5 columns]

In [32]:
v = [i for i in range(1, 24)]

In [33]:
data_by_var = [df[df['v'] == var] for var in v]

In [34]:
flat_data_by_var = [var.values[:, 1:].flatten() for var in data_by_var]

In [35]:
fnames = ['var' + str(i) + '.txt' for i in range(1, 24)]

In [36]:
_ = [np.savetxt(name, data) for name, data in zip(fnames, flat_data_by_var)]